@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans" !important;
}

input {
    font-family: "open sans" !important;
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */


/*** Header ***/
#menu_header_container {
    background: #fff;
    height: 95px;
    //border-bottom: 5px solid #4A86E8;
    //border-bottom: 5px solid #9c302e;
    border-bottom: 5px solid #1B5CBA;

    height: $top_menu_height;
    user-select: none;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
    position: fixed;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    @include media-breakpoint-down(md) {
        padding: 0px 15px;
    }

    #menu_logo{
        transition: all 0.3s ease;
        color: #CC0B07;
        text-transform: uppercase;
        text-decoration: none;

        h2 {
            font-size: 26px;
            font-weight: 800;
            font-family: montserrat;
            margin-bottom: 0px;

            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }

            .separator {
                color: #B0B0B0;
                font-weight: 300;
            }

            .year {
                color: #000;
                font-weight: 700;
            }
        }
        

        img {
            width: $logo_width;
        }
    }

    #menu_item_container {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #primary-menu {
          text-align: center;  
          margin-bottom: 0px;
          @include media-breakpoint-down(md) {
            position: fixed;
            left: 0;
            padding-left: 0px;
            width: 100%;
            top:  $top_menu_height;
            text-align: left;
            display: none;
            background: #332e2d;
        }
    }

    #primary-menu > li {
        display: inline-block;
        font-family: "open sans";
        font-weight: 700;
        font-size: 14px;
        //margin: 0px 30px;
        text-transform: uppercase;
        position: relative;

        &:last-child {
            a {
                padding-right: 5px;
            }
        }

        &.active {
            a {
                color:#CC0B07;
                @include media-breakpoint-down(md) {
                    color:#ff1410;
                }
            }
        }

        @include media-breakpoint-down(md) {
            display: block;
            font-size: 13px;
        }
        

        a{
            color: #333;
            transition: all 0.3s ease;
            padding: 30px 30px;
            text-decoration: none;

            @include media-breakpoint-between(md, lg) {
                padding: 30px 20px;
            }

            @include media-breakpoint-down(md) {
                padding: 20px 20px;
                display: block;
                background: #332e2d;
                color: #fff;
            }

            &:hover {
                color: #CC0B07;
                @include media-breakpoint-down(md) {
                    color:#ff1410;
                }
            }

        }

        & > ul {
            position: absolute;
            text-align: left;
            // /background: #ececec;
            
            padding: 0px;
            //left: -15px;
            left: 25px;
            width: 250px;
            top: 60px;
            box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
            border: 1px solid #ddd;
            z-index: 1000;

            display: none;

            @include media-breakpoint-down(md){
                border: 1px solid #868686;
                left: 0px;
                width: 100%;
                position: static;
            }

            & > li {
                list-style: none;
                //padding: 15px;
                background: #f7f7f7;
                &:hover {
                    background: #ececec;
                }

                & > a {
                    text-decoration: none;
                    cursor: pointer;
                    display: block;
                    padding: 20px 30px;
                    font-size: 13px;
                    @include media-breakpoint-down(md) {
                        font-size: 12px;
                        background: #fff;
                        color: #333;
                        
                    }
                    &:hover {
                        @include media-breakpoint-down(md) {
                            background: #ececec;
                        }
                    }
                }
            }

           
        }
    }

    #menu_icon {
        margin-left: 20px;
        font-size: 24px;
        cursor: pointer;
    }
}
/*** Header ***/

/*** Body ***/


/*** Common Elements ***/
.apply_max_width {
    max-width: $max_width_value;
    margin: 0 auto;

    &.max_width_contact {
        max-width: $max_width_contact;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}

.max_width_1050 {
    max-width: 1050px;
    margin: 0 auto;
}

.when_where_time_divs_container {

    margin: 3em 0;

    .when_where_time_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            @include media-breakpoint-down(sm){
                margin-top: 3em;
            } 
        }

        @include media-breakpoint-down(sm){
            margin-top: 6em;
        }

        h4 {
            font-family: montserrat;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 800;
            color: #cc0b07;
            margin-bottom: 25px;
        }

        p{
            margin-bottom: 0px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }
    }
}

#about_the_event {
    .about_event_container {

        margin-top: 6em;
        
        @include media-breakpoint-down(sm){
            margin-top: 0em;
        }

        h2 {
            font-family: lato;
            text-transform: capitalize;
            text-align: left;

            span {
                color: #CC0B07;
            }
        }

        .content_container{
            margin-top: 2em;

            p{
                font-size: 18px;
                line-height: 1.75em;
            }
        }
    }

    .location_map {
        margin-top: 45px;
        margin-bottom: 30px;
        iframe {
            width: 100%;
        }
    }

    .speaker_container {

        margin-bottom: 4em;
        margin-top: 7em;

        @include media-breakpoint-down(sm) {
            margin-top: 0em;
        }

        .speaker_image {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;

            @include media-breakpoint-down(lg){
                padding-top: 3em;
            }

            .speaker_img {
                width: 275px;
                height: 270px;
                border-radius: 200px;
                background-color: #555;

                @include media-breakpoint-down(lg){
                    margin-bottom: 0em;
                }
            }
        }

        .speaker_details{

            background: #f9f9f9;
            padding: 30px;

            h3 {
                font-family: montserrat;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 30px;
                color: #CC0B07;

                @include media-breakpoint-down(lg){
                    text-align: center;
                }
            }

            p{
                line-height: 2em;
                font-size: 18px;
                margin-bottom: 0px;
            }
        }
        
    }

    &.landing_section {
        @include media-breakpoint-down(lg){
            //padding: 30px 40px;
            padding: 30px 20px;
        }
    }
    
    
}
/* Landing Section */
.landing_section {

    padding: 60px 50px;

    @include media-breakpoint-down(sm) {
        padding: 50px 15px;
    }

    h2 {
        font-family: montserrat;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.5em;
        

        @include media-breakpoint-down(sm) {
            font-size: 24px;
        }

        span {
            color: #F44336;
        }
    }

    .h2_underline {
        height: 1px;
        width: 100px;
        background: #B0B0B0;
        margin: 0 auto;
        margin-bottom: 5em;
        @include media-breakpoint-down(sm) {
            margin-bottom: 3em;
        }
    }

    &.bg_white {
        background: #fff;
    }
}
/* Landing Section */
/*** End of Common Elements ***/

/* Carousel */
#landing_carousel {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(39, 0, 0, 0.55)),url(../images/prayer_crowd.jpeg);
    background-position: 0% 75%;
    background-size: cover;
    margin-top: $top_menu_height;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    @include media-breakpoint-down(sm) {
        height: 550px;
    }

    .carousel_text {
        font-family: lato;
        color: #fff;
        text-align: center;
        min-width: 40%;
        padding: 0px 15px;
        h2 {
            font-size: 52px;
            font-weight: 900;
            text-transform: uppercase;
            word-spacing: 5px;
            margin-bottom: 20px;
            text-shadow: 1px 1px 10px #000;

            @include media-breakpoint-down(sm) {
                font-size: 38px;
            }
        }

        h5 {
            font-weight: 500;
            font-size: 18px;
            text-shadow: 1px 1px 10px #000;
        }

        h4 {
            font-size: 18px;
            margin-top: 35px;
            border-top: 1px solid #AEAEAE;
            padding-top: 45px;
            font-weight: 700;
            font-family: "open sans";
            text-shadow: 1px 1px 10px #000;
            line-height: 1.5em;
        }

        a {
            background-color: #FC3935;
            margin-top: 50px;
            border-radius: 4px;
            border: none;
            color: #fff;
            padding: 12px 28px;
            font-family: "open sans";
            font-size: 14px;
            outline: none;
            transition: all 0.3s ease;
            display: inline-block;

            &:active {
                position: relative;
                top: 1px;
            }
        }
    }

    &.other_pages_carousel {
        height: 350px;
        background-position: 0% 55%;
        @include media-breakpoint-down(sm) {
            height: 200px;
        }
        .carousel_text {
            h2 {
                font-size: 42px;
                margin-bottom: 0px;
                @include media-breakpoint-down(sm) {
                    font-size: 30px;
                }
            }
        }
    }
}
/* Carousel */

/* About Event Summary Section : Under Carousel */
#about_event_summary {
    background: #fff;
    height: auto;
    padding: 75px 50px;

    @include media-breakpoint-down(sm) {
        padding: 40px 15px;
    }

    .apply_max_width {
        @include media-breakpoint-down(sm) {
            max-width: 95%;
        }
    }

    p {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 0px;
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .summary_icons_and_text_container {
        
        display: flex;
        align-items: center;
        margin: 80px 0px;
        justify-content: space-around;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            margin: 40px 0px;
        }

        .icon_and_text{
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin-bottom: 5em;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            svg {
                color: #F44336;
                font-size: 38px;
                margin-bottom: 25px;

                @include media-breakpoint-down(sm) {
                    font-size: 35px;
                }
            }
            h6 {
                font-family: montserrat;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                line-height: 1.5em;

                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
        }
    }
}
/* About Event Summary Section : Under Carousel */

/* Featured Speaker */
#featured_speakers {

    .featured_speakers_container {

        .featured_speaker{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 75px;

            .image {
                width: 275px;
                height: 275px;
                background-color: #fff;
                border-radius: 300px;
            }

            .name {
                font-family: lato;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 20px;
            }
        }
    }
}
/* Featured Speaker */

/* Directions to the Venue */
#directions_to_the_venue {
    background: #fff;
    min-height: 500px;

    .apply_max_width {
        @include media-breakpoint-down(sm) {
            max-width: 95%;
        }
    }

    .location_map {
        margin-top: 45px;
        margin-bottom: 30px;
        iframe {
            width: 100%;
        }
    }

    #venue_tabs_container {
        display: flex;

        @include media-breakpoint-down(sm){
            flex-direction: column;
        }
        .venue_tabs {
            padding-left: 0px;
            @include media-breakpoint-down(sm){
                padding: 0px;
            }
            .tablink {
                width: 100%;
                height: 115px;
                background: #F9F9F9;
                margin-bottom: 15px;
                font-size: 16px;
                font-family: montserrat;
                text-transform: uppercase;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 5px solid transparent;
                transition: all 0.3s ease;
                cursor: pointer;
                color: #444;
                user-select: none;

                &.current {
                    border-left: 5px solid #F44336;
                    color: #F44336;
                }

                svg {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                @include media-breakpoint-down(sm){
                    height: 50px;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
        }
        .venue_tab_detail {
            background: #F9F9F9;
            padding:15px 30px;
            display: flex;
            @include media-breakpoint-down(sm){
                margin-top: 15px;
            }
            .tabcontent {
                display: none;
                
                p{
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 400;
                    font-family: montserrat;

                    @include media-breakpoint-down(sm) {
                        font-size: 15px;
                    }
                }
                div{
                    margin: 30px 0px;
                    text-transform:uppercase;
                    font-family: montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 2em;

                    @include media-breakpoint-down(sm) {
                        font-size: 13px;
                    }
                }
                a {
                    color: #316BC8;
                    text-transform:uppercase;
                    font-family: montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 2em;

                    @include media-breakpoint-down(sm) {
                        font-size: 13px;
                    }
                }

                &.current {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                #tab-location {
                    
                }
            }
        }
    }
}
/* Directions to the Venue */

/* Contact Us */
#contact_form_row {
    margin-bottom: 4em;
    & > div {
        margin-bottom: 30px;
    }
    label{
        display: block;
        font-weight: 600;
        font-size: 13px;
        font-family: montserrat;
        text-transform: uppercase;
        margin-bottom: 5px;

        &>span {
            color: #F44336;
        }
    }
    input, textarea {
        width: 100%;
        padding: 15px 12px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
        border: 1px solid #eee;
        outline: none;
        border-radius: 4px;

        background-color: #eee;
    }
    textarea {
        min-height: 200px;
    }

      .send_button_container {
          text-align: center;
          margin-top: 50px;

        .send_message_button {
            font-size: 14px;
            //font-weight: 600;
            border-radius: 150px;
            padding: 15px 30px;
            outline: none;
            transition: all 0.3s ease;
            background-color: #D14F42;
            color: #fff;
            border: none;
            font-family: montserrat;

            &:hover {
                background-color: rgb(168, 46, 35);
            }
        }
      }
}
/* Contact Us */

/*** Body ***/

/*** Footer ***/
#footer_container {
    .footer_top{
        background: #3B3D4A;
        min-height: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        .footer_logo {
            transition: all 0.3s ease;
            text-transform: uppercase;

            h2 {
                font-size: 26px;
                font-weight: 600;
                font-family: montserrat;
                margin-bottom: 0px;
                color: #fff;

                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                }

                .separator {
                    color: #B0B0B0;
                    font-weight: 300;
                }

                .year {
                    color: #F44336;
                    font-weight: 700;
                }
            }
            

            img {
                width: $logo_width;
            }
        }

        .footer_nav{
            text-align: center;
            .footer_nav_link {
                color: #fff;
                font-family: montserrat;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin: 10px 30px;
                display: inline-block;
                @include media-breakpoint-down(sm){
                    display: block;
                    margin: 10px 0px;
                }
            }
        }

        .footer_social {
            display: flex;
            .social_link {
                min-width: 40px;
                min-height: 40px;
                background: #fff;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 15px;

                svg {
                    color: #3B3D4A;
                }
            }
        }
    }
    .footer_bottom{
        height: 85px;
        background: #D14F42;
        display: flex;
        align-items: center;
        justify-content: center;
        .copyright_text {
            font-family: "open sans";
            font-size: 14px;
            color: #fff;
        }
    }
}
/*** Footer ***/